.the-code-tools {
  background: #333;
  border-top: 2px solid red;
}

.code-tools {
  display: grid;
  grid-gap: 0;
  grid-auto-rows: 8rem;

  &__craft,
  &__react {
    background: var(--bluegrad);
    grid-column: span 2;
    grid-row: span 2;
  }

  &__css {
    background: darkblue;
    grid-column: span 4;
    grid-row: span 2;
  }
}
