.form_box {
  text-align:center;
}
form {
  padding-bottom: 4em;
  input[type="text"] {
    padding: 1em;
    width: 100%;
    font-family: var(--lato);
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: var(--main);
    border: none;
    border-bottom: 2px solid var(--teal);
    margin-bottom: 1em;
    &:focus { outline: var(--teal) auto 5px; }
    &:invalid { border-bottom: 2px solid #fb0202; }
  }
  input[type="email"] {
    padding: 1em;
    width: 100%;
    font-family: var(--lato);
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: var(--main);
    border: none;
    border-bottom: 2px solid var(--teal);
    margin-bottom: 1em;
    &:focus { outline: var(--teal) auto 5px; }
    &:invalid { border-bottom: 2px solid #fb0202; }
  }
  textarea[type="text"] {
    padding: 1em;
    width: 100%;

    font-family: var(--lato);
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 18px;
    color: var(--main);


    height: 8em;
    border: none;
    border-bottom: 2px solid var(--teal);
    margin-bottom: 1em;
    &:focus { outline: var(--teal) auto 5px; }
    &:invalid { border-bottom: 2px solid #fb0202; }
  }
  button {
    cursor: pointer;
    float: left;
    font-family: var(--gen);
    font-size: 1em;
    font-weight:bold;
    background-color: #151516;
    color: white;
    padding: 1em 1.25em;
    margin: 1em;
    border: 0;
    border-radius: 6px;
    box-shadow: var(--shadow-light);
    transition: box-shadow .2s  font-size .5s ease;
    &:hover {
      background-color: #d3d3d3;
      color: #151516;
      border: 1px solid #151516;
    }
  }
}
.buttons {
  text-align: left;
}
