.nav {
  background: transparent;
  position: relative;
  width: 100vw;
  margin: 1rem;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 2rem 0;

    li {
      padding: 0 0 .6rem;
      margin: 0 1.8rem;
      list-style: none;

      a {
        font-size: 1.5rem;
        color: white;
        letter-spacing: .25rem;

        &:hover {
          color: var(--teal);
          text-decoration: none
        }
      }

      &:hover {
        border-bottom: 1px solid var(--teal);
      }
    }
  }
}
